@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-scrollbar {
  }
  /* width */
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }

  /* Track */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  /* Handle */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
  }

  /* Handle on hover */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .custom-calendar {
    background-color: transparent !important;
    border: none !important;
  }

  .custom-calendar .react-datepicker__header {
    background-color: transparent !important;
  }

  .custom-calendar.custom-calendar-dark .react-datepicker__current-month {
    color: #eee !important;
  }

  .custom-calendar.custom-calendar-dark .react-datepicker__day-name {
    color: #eee !important;
  }

  .custom-calendar-dark .custom-day.react-datepicker__day {
    color: #eee !important;
  }

  .custom-calendar-dark .custom-day.react-datepicker__day--disabled {
    color: #8f8f8f !important;
  }
  .custom-calendar-dark .custom-day.react-datepicker__day--disabled:hover {
    background-color: transparent !important;
  }

  .custom-calendar-dark .custom-day:hover {
    background-color: #555 !important;
  }

  .custom-calendar-dark .custom-day.react-datepicker__day--keyboard-selected {
    background-color: #555 !important;
  }

  .custom-calendar-dark .custom-day.react-datepicker__day--selected {
    background-color: #555 !important;
  }
}
